.right-panel {
    width: 100%;
    padding-left: 15px;
    float: left;
    text-align: left;
}

.header-tabs {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #d1d5da;
}

.header-tabs span {
    font-size: 14px;
    cursor: pointer;
    padding: 16px 8px;
    margin-right: 16px;
    line-height: 1.5;
    color: #586069;
    text-align: center;
    border: 0;
    border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 600px) {
    .right-panel {
        width: 95%;
        padding-left: 5px;
    }
    .header-tabs span {
        margin-right: 0px;
    }
}

.search-section {
    padding: 15px 0px;
    display: grid;
    grid-template-columns: 55% 20% 20%;
    grid-column-gap: 10px;
    border-bottom: 1px solid #d1d5da
}

.search-text {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    flex: auto;
    /* margin-right: 15px; */
}

.repo-name {
    /* word-break: break-all; */
    color: #0366d6
}